body {
  background-color: #1D1E2C;
}
.auth-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #59656F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.auth-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1D1E2C;
}
.auth-container p {
  text-align: center;
  margin-bottom: 20px;
  color: #1D1E2C;
}
.auth-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #388eff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.auth-button:hover {
  background-color: #1c6add;
}