<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Character List</title>
</head>
<body>
    <h1>Character List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Race</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.Response.character.data.light}"></td>
                <!-- <td th:text="${character.level}"></td>
                <td th:text="${character.race}"></td>
                <td th:text="${character.class}"></td> -->
            </tr>
        </tbody>
    </table>
</body>
</html>