<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Character Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/css/foundation.min.css">
    <link rel="stylesheet" th:href="@{/css/character.css}">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Destiny 2 App</li>
                <li><a href="#">Activities</a></li>
                <li><a href="/vault">Vault</a></li>
                <li><a href="/charactersUnequipt">Equipment</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
    <h1 class="text-center">Character Current Inventory</h1>
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <input type="text" id="search-input" placeholder="Search for items..." onkeyup="searchItems()" />
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div th:each="character : ${characterInfo}" class="cell small-12 medium-6 large-4 character-block">
            <div class="card">
                <div class="emblem-icon-container">
                    <img th:src="@{'https://www.bungie.net' + ${character.emblemBackgroundPath}}" alt="Emblem" class="card-image" th:attr="data-character-id=${character.characterId}" onclick="showCharacterId(this, event)">
                    <div class="overlay">
                        <div class="overlay-info">
                            <span th:text="${character.light}"></span>
                        </div>
                        <div>
                            <span th:if="${character.classType} == 0">Titan</span>
                            <span th:if="${character.classType} == 1">Hunter</span>
                            <span th:if="${character.classType} == 2">Warlock</span>
                        </div>
                    </div>
                </div>
                <div class="card-section">
                    <ul th:if="${itemsInfo.containsKey(character.characterId)}">
                        <li th:each="item : ${itemsInfo.get(character.characterId)}">
                            <p th:text="${item.bucketName}"></p>
                            <p th:text="${item.name}"></p>
                            <p th:if="${item['icon'] != null}"><img
                                    th:src="@{'https://www.bungie.net' + ${item['icon']}}" alt="Icon"
                                    class="card-icon" onclick="showItemName(this)"></p>
                        </li>
                    </ul>
                    <div class="overlay-menu" id="overlay-menu">
                        <ul>
                            <li><a href="#" id="go-to-vault">Vault</a></li>
                            <li><a href="#" id="go-to-items">Items</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/character.js}"></script>
</body>
</html>