<!DOCTYPE html>
<html>
<head>
    <title>Characters</title>
</head>
<body>
    <h1>Characters</h1>

    <table>
        <tr>
            <th>Character ID</th>
            <th>Light Level</th>
            <th>Race</th>
            <th>Gender</th>
            <th>Class</th>
        </tr>

        {{#characters}}
        <tr>
            <td>{{Response.character.data.characterId}}</td>
            <td>{{Response.character.data.light}}</td>
            <td>{{#if (eq Response.character.data.raceType 0)}}Human{{else if (eq Response.character.data.raceType 1)}}Awoken{{else if (eq Response.character.data.raceType 2)}}Exo{{/if}}</td>
            <td>{{#if (eq Response.character.data.genderType 0)}}Male{{else if (eq Response.character.data.genderType 1)}}Female{{/if}}</td>
            <td>{{#if (eq Response.character.data.classType 0)}}Titan{{else if (eq Response.character.data.classType 1)}}Hunter{{else if (eq Response.character.data.classType 2)}}Warlock{{/if}}</td>
        </tr>
        {{/characters}}
    </table>
</body>
</html>