<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Character Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/css/foundation.min.css">
    <link rel="stylesheet" th:href="@{/css/character.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Destiny 2 App</li>
                <li><a href="#">Activities</a></li>
                <li><a href="/vault">Vault</a></li>
                <li><a href="/characters">Inventory</a></li>
                <li><a href="/charactersUnequipt">Refresh</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
    <h1>Character unequipped items</h1>
    <div class="grid-x grid-padding-x">
        <div class="cell small-12">
            <input type="text" id="search-input" placeholder="Search for items..." onkeyup="searchItems()" />
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div th:each="character : ${characterInfo}" class="cell small-12 medium-6 large-4 character-block">
            <div class="card">
                <div class="emblem-icon-container">
                    <img th:src="@{'https://www.bungie.net' + ${character.emblemBackgroundPath}}" alt="Emblem" class="card-image" th:attr="data-character-id=${character.characterId}" onclick="showCharacterId(this, event)">
                    <div class="overlay">
                        <div class="overlay-info">
                            <span th:text="${character.light}"></span>
                        </div>
                        <div>
                            <span th:if="${character.classType} == 0">Titan</span>
                            <span th:if="${character.classType} == 1">Hunter</span>
                            <span th:if="${character.classType} == 2">Warlock</span>
                        </div>
                    </div>
                </div>
                <div th:if="${itemsInfo.containsKey(character.characterId)}">
                    <div th:each="bucketEntry : ${itemsInfo.get(character.characterId).entrySet()}"
                        class="accordion">
                        <p class="bucket-name" th:text="${bucketEntry.key}"></p>
                        <div class="bucket-icons">
                            <div th:each="item : ${bucketEntry.value}">
                                <p th:text="${item.name}"></p>
                                <p th:if="${item['icon'] != null}">
                                        <img th:src="@{'https://www.bungie.net' + ${item['icon']}}" alt="Icon" class="bucket-icon" 
                                        th:attr="onclick='itemIconClicked(event, \'' + 
                                        ${item['itemHash']} + '\', \'' + 
                                        ${item['itemInstanceId']} + '\', \'' + 
                                        ${character.characterId} + '\')'">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div id="transferModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Select a character to transfer the item to:</h2>
          <div class="grid-x grid-padding-x">
            <div th:each="character : ${characterInfo}" class="cell small-12 medium-6 large-4 character-block">
              <div class="emblem-icon-container" th:attr="data-character-id=${character.characterId}" onclick="emblemClicked(this, event)">
                <img th:src="@{'https://www.bungie.net' + ${character.emblemBackgroundPath}}" alt="Emblem" class="card-image">
              </div>
            </div>
          </div>
        </div>
      </div> 
    <script th:src="@{/js/characterUnequipt.js}"></script>
</body>
</html>