<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
</head>
<body>
    <h1>Characters</h1>
    <table>
        <thead>
          <tr>
            <th>Character Id</th>
            <th>Light</th>
            <th>Race Type</th>
            <th>Class Type</th>
          </tr>
        </thead>
        <tr th:each="character : ${characterInfo}">
            <td th:text="${character.characterId}"></td>
            <td th:text="${character.light}"></td>
            <td th:if="${character.raceType} == 0">Human</td>
            <td th:if="${character.raceType} == 1">Awoken</td>
            <td th:if="${character.raceType} == 2">Exo</td>
            <td th:if="${character.classType} == 0">Titan</td>
            <td th:if="${character.classType} == 1">Hunter</td>
            <td th:if="${character.classType} == 2">Warlock</td>
          </tr>
        </tbody>
      </table>
</body>
</html>
