<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:java="http://www.thymeleaf.org/thymeleaf-extras-java8time">
<head>
    <meta charset="UTF-8">
    <title>Vault Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/css/foundation.min.css">
    <link rel="stylesheet" th:href="@{/css/vault.css}">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Destiny 2 App</li>
                <li><a href="#">Activities</a></li>
                <li><a href="/vault">Vault</a></li>
                <li><a href="/charactersUnequipt">Equipment</a></li>
                <li><a href="/vault">Refresh</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
    <div th:each="membershipIdEntry : ${itemsInfo.entrySet()}">
        <div class="grid-x grid-padding-x">
            <div th:each="itemTypeDisplayNameEntry : ${membershipIdEntry.value.entrySet()}"
                class="cell small-12 medium-6 large-4 item-type-block">
                <button class="accordion" th:text="${itemTypeDisplayNameEntry.key}"></button>
                <div class="panel">
                    <div class="grid-x grid-padding-x">
                        <div th:each="item : ${itemTypeDisplayNameEntry.value}" class="cell small-6">
                            <div class="item-container">
                                <span th:text="${item.name}" class="item-name"></span>
                                <p th:if="${item.icon != null}">
                                    <img th:src="@{'https://www.bungie.net' + ${item.icon}}" alt="Icon" class="card-icon">
                                </p>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        function onItemIconClick() {
        var itemHash = this.getAttribute("data-item-hash");
        var itemInstanceId = this.getAttribute("data-item-instance-id");
        console.log("itemHash:", itemHash, "itemInstanceId:", itemInstanceId);
    }

    // Add a click event listener for item icons
    var itemIcons = document.getElementsByClassName("card-icon");
    for (var i = 0; i < itemIcons.length; i++) {
        itemIcons[i].addEventListener("click", onItemIconClick);
    }
    });
    /*]]>*/
</script>
</body>
</html>